<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing batch item record</h1>

  <%= render "form", batch_item_record: @batch_item_record %>

  <%= link_to "Show this batch item record", @batch_item_record, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to batch item records", batch_item_records_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
