<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing batch section record</h1>

  <%= render "form", batch_section_record: @batch_section_record %>

  <%= link_to "Show this batch section record", @batch_section_record, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to batch section records", batch_section_records_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
