<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Batch section records</h1>
    <%= link_to 'New batch section record', new_batch_section_record_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="batch_section_records" class="min-w-full">
    <%= render @batch_section_records %>
    <div class="my-4">
      <%== pagy_nav @pagy %>
    </div>
  </div>
</div>
